@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.box {
  @apply w-16 h-16 rounded-md;
  @apply outline outline-1 outline-gray-200;

  &.highlight {
    @apply outline-blue-500;
  }

  &.disabled {
    @apply outline-none;
  }
}

.tile {
  @apply w-16 h-16 p-1 text-xs relative rounded-md;
  @apply cursor-grab active:cursor-grabbing select-none;
}